$black: {{palette.color0}};
$bright_black: {{palette.color8}};
$red: {{palette.color1}};
$bright_red: {{palette.color9}};
$green: {{palette.color2}};
$bright_green: {{palette.color10}};
$yellow: {{palette.color3}};
$bright_yellow: {{palette.color11}};
$blue: {{palette.color4}};
$bright_blue: {{palette.color12}};
$magenta: {{palette.color5}};
$bright_magenta: {{palette.color13}};
$cyan: {{palette.color6}};
$bright_cyan: {{palette.color14}};
$white: {{palette.color7}};
$bright_white: {{palette.color15}};

$foreground: {{palette.foreground}};
$background: {{palette.background}};

$border: {{palette.inactive_tab_foreground}};
$shadow: {{palette.inactive_tab_background}};
